html {
    overflow-x: hidden;
}

body {
    background-color: #1e1e1e;
    font-family: 'Oswald', sans-serif;
}

.container-fluid {
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
}

p {
    font-size: 1.5rem;
    line-height: 2;
    white-space: pre-line;
}

p a {
    font-size: 1em;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 11vh;
    left: 3.5vw;
    z-index: 1000;
}

.menu li {
    display: inline-block;
    float: left;
    clear: left;
    /* margin-top: -10px; */
}

.menu li:not(:first-child) {
    margin-top: -10px;
}

.menu li a {
    text-decoration: none;
    font-size: 2.2em;
}

.fullview-section {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    overflow-x: hidden;
    /* These two lines are counted as one :-)       */
    /* min-height: calc(var(--vh, 1vh) * 100); */
}

#artcade-info {
    width: 90%;
    width: 90vw;
    margin: auto;
}

#artcade-sponsors {
    background-color: #262626;
}

#sponsor-list {
    width: 75%;
    width: 75vw;
    margin: auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.info-flex-child {
    width: 50%;
    flex: 1 0 auto;
    align-self: center;
}

.sponsor-flex-image {
    /* width: 50%; */
    flex: 1 1 0;
    align-self: center;
    padding: 0 15% 0 15%;
}

.sponsor-row {
    width: 100%;
    flex: 1 0 auto;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.sponsor-image {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#artcade-logo-info {
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.sponsor-title {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}

#sponsor-list>div {
    margin: 25px 0 25px 0;
}

#artcade-logo {
    position: absolute;
    width: 17vw;
    bottom: 8vh;
    left: 5vw;
}

footer {
    margin-top: 35px;
}

footer p {
    font-size: 0.85rem;
}

footer p:first-child {
    margin-bottom: 0;
}

#languages a {
    font-size: 1.8rem;
}

@media (max-width: 575px) {
    .info-flex-child {
        width: 100%;
    }
    #artcade-logo {
        width: 50vw;
    }
    .sponsor-flex-image {
        padding: 0 8% 0 8%;
    }
    
    #languages a {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.25em;
        white-space: normal;
    }
    #trailer {
        order: -1;
    }
    .container-fluid {
        -webkit-clip-path: content-box;
    }
    .sponsor-title {
        font-size: 0.85rem;
    }
}

/* really small (e.g. iPhone SE) */
@media (max-width: 350px) {
    p {
        font-size: 0.75rem;
    }
    .hidden-really-small {
        display: none;
    }
    footer p {
        font-size: 0.65rem;
    }
}