html {
    overflow-x: hidden;
}

body {
    background-color: #1e1e1e;
    font-family: 'Oswald', sans-serif;
}

.container-fluid {
    overflow-x: hidden;
}

p {
    font-size: 1.5em;
    line-height: 2;
    white-space: pre-line;
}

@media (max-width: 575px) {
    p {
        font-size: 1.25em;
        white-space: normal;
    }
    #trailer {
        order: -1;
    }

    .container-fluid {
        -webkit-clip-path: content-box;
    }    
}

/* really small */
@media (max-width: 350px) { 
    p {
        font-size: 0.75em;
    }

    .hidden-really-small
    {
        display: none;
    }
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 11vh;
    left: 3.5vw;
}

.menu li {
    display: inline-block;
    float: left;
    clear: left;
    /* margin-top: -10px; */
}

.menu li:not(:first-child) {
    margin-top: -10px;
}

.menu li a {
    text-decoration: none;
    font-size: 2.2em;
}

.fullview-section {
    height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    height: 100vh;
    overflow-x: hidden;
    /* These two lines are counted as one :-)       */
    height: calc(var(--vh, 1vh) * 100);
}

#artcade-info {
    width: 90%;
    width: 90vw;
    margin: auto;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.info-flex-child {
    width: 50%;
    flex: 1 0 auto;
    align-self: center;
}

#artcade-logo-info {
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.partner-logo {
    min-width: 0;
    min-height: 0;
    flex: 1 1 0;
    height: 100%;
    padding: 0 2% 0 2%;
    align-self: center;
}

.partner-logo img {
    width: 100%;
    height: auto;
}

#artcade-logo {
    position: absolute;
    width: 17vw;
    bottom: 8vh;
    left: 5vw;
}

@media (max-width: 575px) {
    .info-flex-child {
        width: 100%;
    }
    #artcade-logo {
        width: 50vw;
    }
}

#description {
    position: fixed;
    width: 32vw;
    top: 10vh;
    right: 5vw;
}

#description p {
    font-family: 'Oswald', sans-serif;
    text-align: right;
    font-size: 1.8em;
}

#languages a {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    text-decoration: none;
}